*.o
*.lo
*.la
.libs
.deps
*.pc
Makefile
Makefile.in
*.so
*~
.*.sw[po]
*.gcov
*.gcno
/aclocal.m4
/autom4te.cache/
/config.cache
/config.guess
/config.h*
/config.log
/config.status
/config.sub
/configure
/compile
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
tags
cscope.out
/config.cache
coverage
/ABOUT-NLS
/config.cache-env
/doc/Doxyfile
INSTALL
Session.vim
.dirstamp
test-driver
src/lib/common/tzsh_protocol.c
src/lib/common/tzsh_protocol.h
src/tests/test-service
src/tests/test-service.log
src/tests/test-service.trs
src/tests/test-client
src/tests/test-client.log
src/tests/test-client.trs
src/tests/test-suite.log
src/tests/tzsh-protocol.c
src/tests/tzsh-protocol.h
src/tests/test-init
src/tests/test-init.log
src/tests/test-init.trs
src/tests/test-region
src/tests/test-region.log
src/tests/test-region.trs
